
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<!-- Begin FB's Breadcrumb Area -->
<div class="breadcrumb-area pt-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-content">
                    <ul>
                        <li><a href="/">Trang chủ</a></li>
                        <li class="active">Đăng nhập</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FB's Breadcrumb Area End Here -->
<!-- Begin Login Content Area -->
<div class="page-section pt-60 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                <form action="#">
                    <div class="login-form">
                        <h4 class="login-title">Đăng nhập</h4>
                        <div class="row">
                            <div class="col-md-12 mb-20">
                                <label for="">Email address</label>
                                <input type="email" name="user" id="floatingInput" placeholder="name@example.com">
                            </div>
                            <div class="col-md-12 mb-20">
                                <label for="">Password</label>
                                <input type="password" name="password" id="floatingPassword" placeholder="Password">
                            </div>
                            <div class="col-12">
                                <button class="register-button mt-0" type="submit">Đăng nhập</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Login Content Area End Here -->
