@model Ecommerce.Models.Role

@{
    ViewBag.Title = "Xác nhận xóa quyền truy cập";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="page-header">
    <div class="container-fluid pt-4 px-4">
        <div class="rounded h-100 p-2 header-sub-title">
            <nav style="margin-bottom: 4px" class="breadcrumb breadcrumb-dash">
                <a href="~/Admin/HomeAdmin" class="breadcrumb-item"><i class="fa fa-home"></i> Home</a>
                <a href="~/Admin/AdminRoles" class="breadcrumb-item">Danh sách quyền truy cập</a>
                <span class="breadcrumb-item active">Xác nhận xóa quyền truy cập</span>
            </nav>
        </div>
    </div>
</div>

<div class="container-fluid pt-4 px-4 col-6">
    <div class="rounded h-100 p-4">
        <h6 class="mb-4">Xác nhận xóa quyền truy cập</h6>
        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <tr>
                        <td style="padding: 1rem 0.5rem">ID</td>
                        <td style="padding: 1rem 0.5rem">@Model.RoleID</td>
                    </tr>
                    <tr>
                        <td style="padding: 1rem 0.5rem">Tên quyền truy cập</td>
                        <td style="padding: 1rem 0.5rem">@Model.RoleName</td>
                    </tr>
                    <tr>
                        <td style="padding: 1rem 0.5rem">Mô tả</td>
                        <td style="padding: 1rem 0.5rem">@Model.Description</td>
                    </tr>
                    <tr>
                        <td style="padding: 1rem 0.5rem; line-height: 37px;">Xác nhận xóa: </td>
                        <td style="padding: 1rem 0.5rem">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-actions no-color">
                                    <input type="submit" value="Xác nhận xóa" class="btn btn-danger" />
                                </div>
                            }
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
